  {% if lowpress_dynamic_sidebar('Sidebar Widgets') %}
  {% else %}

    {{ lowpress_get_search_form() }}
    <ul>
    
    	{{ lowpress_wp_list_pages('title_li=<h2>Pages</h2>' ) }}
    </ul>
    <ul>
      <li>
        <h2>Archives</h2>
        <ul>
          {{ lowpress_wp_get_archives('type=monthly') }}
        </ul>
      </li>
      <li>
        <h2>Categories</h2>
        <ul>
          {{ lowpress_wp_list_categories('show_count=1&title_li=') }}
        </ul>
      </li>
      {{ lowpress_wp_list_bookmarks() }}
      <li>
        <h2>Meta</h2>
        <ul>
          {{ lowpress_wp_register() }}
          <li>{{ lowpress_wp_loginout() }}</li>
          <li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress</a></li>
          {{ lowpress_wp_meta() }}
        </ul>
      </li>
      <li>
        <h2>Subscribe</h2>
        <ul>
          <li><a href="{{ lowpress_bloginfo('rss2_url') }}">Entries (RSS)</a></li>
          <li><a href="{{ lowpress_bloginfo('comments_rss2_url') }}">Comments (RSS)</a></li>
        </ul>
      </li>
    </ul>

  {% endif %}
